:root {
    --primary: #008060;
    --text-gray: #51596C;
    --title-black: #00221C;
    --detail-text: #677788;
    --secondary: #005C45;
    --font-weight: 500 !important;
    --link-hover-color: #005c45;
    --text-active-color: #007356;
}

.p-2-rem {
    padding: 2rem;
}

.py-2-rem {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.mb-5 {
    margin-bottom: 2rem !important;
}

.mb-7 {
    margin-bottom: 3rem;
}

.me-10 {
    margin-right: 4.5rem !important;
}

.my-10 {
    margin-top: 4.5rem !important;
    margin-bottom: 4.5rem !important;
}

.content-space-1 {
    padding-top: 4rem!important;
    padding-bottom: 4rem!important;
}

.content-space-b-1 {
    padding-bottom: 4rem!important;
}

.content-space-t-2 {
    padding-top: 5rem!important;
}

.fs-12 {
    font-size: 0.75rem;
}

.fs-14 {
    font-size: 0.875rem;
}

.fs-18 {
    font-size: 1.125rem;
    font-family: 'Roboto', sans-serif;
}

.text-white-70 {
    color: rgba(255, 255, 255, 0.7) !important;
}

.text-gray {
    color: var(--text-gray);
}

.space-large {
    padding: 5rem 0.75rem
}

.content-space-t-1 {
    padding-top: 4rem;
} 

.bg-soft-warning {
    background-color: rgba(241,185,128,.1)!important;
}

.bg-primary-dark {
    background-color: var(--secondary);
}

.text-primary-dark {
    color: var(--secondary)!important;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #008060;
    --bs-btn-border-color: #008060;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #006d52;
    --bs-btn-hover-border-color: #00664d;
    --bs-btn-focus-shadow-rgb: 38,147,120;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #00664d;
    --bs-btn-active-border-color: #006048;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #008060;
    --bs-btn-disabled-border-color: #008060;
}

.btn-primary:hover {
    box-shadow: 0 4px 11px rgb(0 128 96 / 35%);
}

.btn {
    width: 100%;
    padding: 0.75rem 1rem;
    font-family: 'Roboto', sans-serif;
}

.nav-link.active {
    background-color: rgba(0, 189, 142, 0.1);
}

a.link {
    font-weight: 500;
    color: var(--primary);
}