@media only screen and (min-width: 1320px) {
    .container {
        max-width: 1140px;
    }
}

@media only screen and (min-width: 1200px) {
    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.125rem;
    }

    span.feature-btn {
        display: none !important;
    }
}

@media only screen and (min-width: 992px) {
    .ps-lg-5 {
        padding-left: 2rem !important;
    }

    .mx-lg-auto {
        margin-right: auto !important;
        margin-left: auto !important;
    }

    .mb-lg-0 {
        margin-bottom: 0 !important;
    }

    .mb-lg-5 {
        margin-bottom: 2rem !important;
    }

    .w-lg-50 {
        width: 50% !important;
    }

    .w-lg-65 {
        width: 65% !important;
    }

    .w-lg-75 {
        width: 75% !important;
    }
}

@media only screen and (max-width: 991.98px) {
    .device .device-mobile {
        margin-right: 0.5rem;
        display: none;
    }

    header nav .navbar-contain {
        width: 100%;
    }

    header nav .navbar-nav {
        padding: 1rem 1rem;
        align-items: flex-start;
    }

    nav .menu-navbar-custom li > a {
        padding: 0.5rem 0 !important;
    }

    header nav ul li,
    header nav ul li>a {
        width: 100%;
    }

    nav .nav-divider {
        margin: 0.5rem 0;
        height: 0;
        border-left: none;
        border-top:  0.1rem solid rgba(0, 34, 28, 0.1);;
    }
}

@media only screen and (min-width: 768px) {

    .content-space-t-md-3 {
        padding-top: 7.5rem !important;
    }

    .content-space-md-3 {
        padding-top: 7.5rem !important;
        padding-bottom: 7.5rem !important;
    }

    .mb-md-5 {
        margin-bottom: 2rem !important;
    }

    .mb-md-10 {
        margin-bottom: 4.5rem !important;
    }

    .mx-md-auto {
        margin-right: auto;
        margin-left: auto;
    }

    .w-md-75 {
        /* width: 75%!important; */
    }
}

@media only screen and (min-width: 576px) {
    .col-sm-divider>:not(:first-child) {
        position: relative;
    }

    .col-sm-divider>:not(:first-child)::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 0.0625rem;
        height: 100%;
        background-color: rgba(0, 34, 28, .1);
        content: "";
    }

    nav .menu-landings {
        min-width: 30rem;
    }

    nav .menu-blog {
        min-width: 12rem;
    }

    nav .menu-docs.show {
        min-width: 20rem;
        max-width: 20rem;
    }
}
