* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

html, h1, h2, h3, h4, h5, h6, p,
ul, label, input, li, a, button, div {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


/* Start header */
header .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

header .navbar-toggler {
}

header .navbar-toggler-icon {
    width: 1.125rem;
    height: 1.125rem;
}

header .navbar-collapse {
    flex-grow: 0;
}

nav .menu-navbar-custom {
    align-items: center;
}

nav .menu-navbar-custom li:not(:last-child) {
    margin-right: 0.5rem;
}

nav .menu-navbar-custom a {
    padding: 16px 12px !important;
    line-height: 24px;
    color: var(--text-gray);
}

nav .navbar-nav .nav-link.active {
    color: var(--primary) !important;
}

nav .menu-navbar-custom a i {
    position: relative;
    padding-left: 0.25rem;
    width: 1rem;
    height: 1rem;
    font-size: 0.6rem;
    color: var(--text-gray);
}

nav li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav .menu-navbar-custom a i::before {
    position: absolute;
    top: 40%;
}

nav .nav-divider {
    height: 2rem;
    border-left: 0.1rem solid rgba(0, 34, 28, 0.1);
    margin: 0 0.5rem;
}

nav .btn-log-in {
    background-color: #fff;
    border: 1px solid #fff;
}

nav .btn-log-in:hover {
    color: #008060;
    background-color: rgba(0, 128, 96, .1);
    border: 1px solid rgba(0, 128, 96, .1);
}

nav .btn-sign-up {
    background-color: var(--primary);
    color: #fff !important;
    border: 1px solid var(--primary);
}

nav .btn-sign-up:hover {
    background-color: #006d52;
    border: 1px solid #006d52;
}

nav li a.btn {
    margin-top: auto;
    margin-bottom: auto;
    padding: 9.8px 16px !important;
}

nav a.btn-sign-up i {
    margin-right: 6px;
}

nav a.btn-sign-up i::before {
    top: 15%;
    left: 0;
    color: #fff;
    font-size: 1rem;
}

/* End header */

/* Start main */
main .slider {
    background-color: var(--secondary);
}

.slider h1 {
    margin-bottom: 2rem;
    font-size: 4rem;
    font-weight: 600;
}

.svg-icon > svg {
    width: 3rem;
    height: 3rem;
}

.slider .form-body {
    padding: 2rem;
    background-color: #fff;
    border-radius: 5px;
}

.form-body label {
    font-size: 0.875rem;
    font-weight: var(--font-weight);
    color: var(--text-gray);
}

.slider .form-body h5{
    font-size: 1.375rem;
}

.form-body .chat-picture img {
    width: 9.3333333rem;
}

.form-body input {
    padding: 0.75rem 1rem;
}

.form-body input::placeholder {
    font-size: 1.125rem;
}

.form-body input:focus {
    outline: none;
    border: 1px solid #ced4da;
    box-shadow: 0px 0px 15px 5px rgb(230, 230, 230);
}

.form-body .form-check-contain {
    padding: 0.75rem 1rem;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.form-body .form-check .form-check-input {
    margin: 0;
}

.form-body .form-check-contain .form-check-input,
.form-body .form-check-contain .form-check-label {
    margin-bottom: 0.125rem;
}

.form-check {
    padding-left: 0.75rem;
}

.form-check input {
    border-radius: 50%;
    padding: 4px;
    line-height: 100%;
}

.form-check .form-check-label {
    font-size: 1.125rem;
}

.form-check-input:checked[type=radio] {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M13.3035 4.76425C13.5718 4.44865 14.0451 4.41027 14.3607 4.67853C14.6763 4.9468 14.7147 5.42012 14.4464 5.73572L8.07144 13.2357C7.79896 13.5563 7.31616 13.5901 7.00171 13.3105L3.62671 10.3105C3.31713 10.0354 3.28924 9.5613 3.56443 9.25172C3.83962 8.94213 4.31367 8.91424 4.62326 9.18943L7.42515 11.68L13.3035 4.76425Z' fill='#fff'/></svg>");
    /* background-image: url(/assets/img/check-mark-black-outline-svgrepo-com.svg); */
    /* background-image:url("data:image/svg+xml,<svg viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M13.3035 4.76425C13.5718 4.44865 14.0451 4.41027 14.3607 4.67853C14.6763 4.9468 14.7147 5.42012 14.4464 5.73572L8.07144 13.2357C7.79896 13.5563 7.31616 13.5901 7.00171 13.3105L3.62671 10.3105C3.31713 10.0354 3.28924 9.5613 3.56443 9.25172C3.83962 8.94213 4.31367 8.91424 4.62326 9.18943L7.42515 11.68L13.3035 4.76425Z' fill='#fff'/></svg>"); */
}

.form-check-input:checked {
    background-color: #008060;
    border-color: #008060;
}

.form-body .form-help {
    text-align: center;
    font-size: 0.875rem;
    color: var(--text-gray);
    font-weight: 400;
}

.form-body .form-help a {
    color: var(--primary);
    font-weight: 500;
    text-decoration: none;
}

.form-help a:hover {
    color: var(--link-hover-color);
}

.feed-back p {
    font-size: 1.25rem;   
}

/* End main */
